.article {
  max-width: 440px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}


.article:hover .image {
  border-radius: 20px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 110%;
  text-transform: uppercase;
  color: var(--white);
  transition: color 0.5s ease;
}

.article:hover .title {
  background: linear-gradient(180deg, #fb8627 0%, #f5bef6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


.article:hover .content {
  opacity: 0.8;
}
.content {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  opacity: 0.3;
  transition: opacity 0.3s ease;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.date {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}

.wrapper {
  padding-block: 20px;
}


.image {
  width: 100%;
  max-height: 300px;
  min-height: 280px;
  max-width: 440px;
  display: block;
  border-radius: 0;
  transition: border-radius 0.3s ease;
}

@media (width <= 440px) {
  .wrapper, .date {
    padding-inline-start: 10px;
    padding-inline-end: 20px;
  }
}


