.button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  padding-block: 12px;
  padding-inline: 20px;
  border-radius: 40px;
  border: 1px solid transparent;
  white-space: nowrap;

  background: linear-gradient(#0F0F17, #0F0F17) padding-box,
  linear-gradient(180deg, #fb8627 0%, #f5bef6 100%) border-box;

  transition: background 0.3s ease;
}

.button:hover {
  background: linear-gradient(180deg, #fb8627 0%, #f5bef6 100%) padding-box,
  linear-gradient(180deg, #fb8627 0%, #f5bef6 100%) border-box;
}
