:root {
  --white: #fff;
  --black: #0f0f17;
  --bg-black: #0f0f17;
}


html,
body {
  margin: 0 auto;
  position: relative;
  height: 100%;
}

body {
  padding-inline: 40px;
  color: var(--white);
  max-width: 1440px;
  width: 100%;
  overflow-x: hidden;
  background: var(--bg-black);
  font-family: Inter, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  font-family: inherit;
  background-color: transparent;
  border: none;
}
