.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-inter-sans);
  background-color: var(--background);
}

.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
  text-transform: uppercase;
  color: var(--white);
  padding-block-start: 60px;
  padding-block-end: 40px;
}

.list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 20px;
  row-gap: 40px;
  width: 100%;
  align-items: start;
}

.item {
  width: fit-content;
}

.main {
  height: 100%;
  width: 100%;
}

@media (width <= 950px) {
  body {
	padding-inline: 20px;
  }
  .list {
	grid-template-columns: 1fr 1fr
  }
}

@media (width <= 440px) {
  body {
	padding-inline: 0;
  }
  .list {
	grid-template-columns: 1fr;
  }

  .title {
	padding-inline-start: 10px;
  }
}
