.header {
  display: flex;
  align-items: center;
  column-gap: 75px;
  width: 100%;
  justify-content: space-between;
  padding-block-start: 20px;
  padding-block-end: 15px;
  position: sticky;
  z-index: 1;
  top: 0;

  background: var(--black);
}

.header::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100vw;
  transform: translateX(-50%);
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
}

.header.scrolled {
  box-shadow: 0 4px 12px rgba(255, 7, 7, 0.8);
}

@media (width <= 680px) {
  .header {
    padding-inline: 10px;
  }
}

